
body {
  background-color: lightgray;
}

.containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.canvas-container {
  position: relative;
  margin: 0;
  background-color: white;
  flex-basis: 0;
  max-width: 600px;
  flex-grow: 1;
}

canvas {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.front-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.filtInfo {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
}

.clickText:after {
  content: "Click anywhere to start";
  font-family: 'Arial';
  color: gray;
  text-align: center;
  z-index: 20;
  display: block;
  position: absolute;
  width:100%;
  height: 100%;
  top:40%;
}
